/* BumpSort Improved Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@700&display=swap');

:root {
    --primary-color: #e74c3c;
    --secondary-color: #f0f0f0;
    --background-color: rgb(0, 38, 95);
    --surface-color: #1a1a1a;
    --text-color: #fff;
    --text-secondary-color: #bbb;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--background-color); */
    background: linear-gradient(to bottom right, rgb(0, 59, 148), rgb(177, 135, 0));
    background-attachment: fixed;
    color: var(--text-color);
    min-height: 100vh;
}

.container-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    position: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    position: flex;
}

/* .button-wrapper {
    justify-content: center;
} */

.content {
    text-align: center;
}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}

.center {
    text-align: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin: 0.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}


.btn:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transition: all 0.5s;
}

.btn:hover::before {
    left: 100%;
}

.btn-primary {
    background-color: #e74c3c;
    color: white;
    font-size: 1.8rem;
    width: 30%;
}

.btn-secondary {
    background-color: transparent;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    font-size: 1.0rem;
    width: 30%;
}


/* Landing Page Styles */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}

.moving-bg {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 100 100"><text x="50%" y="50%" font-size="70" fill="white" text-anchor="middle" dominant-baseline="middle">🎵</text></svg>');
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 20s linear infinite;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

/*  */
/*  */
/* -----------Song Selection Page Styles ------------ */
/*  */
/*  */


.radio-group input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.0rem;
    height: 1.0rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
    transition: background-color 0.2s;
}

.radio-group input[type="radio"]:checked {
    background-color: #4CAF50;
}

.radio-group input[type="radio"]:checked:after {
    display: block;
}

/* .radio-group,
.song-list {
    display: flex;
    flex-direction: column;
}
    */

.radio-group {
    /* background-color: var(--surface-color); */
    text-align: left;
    font-size: 1.4rem;
    /* border-radius: 10px; */
    padding: 0rem;
    margin-bottom: 0rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

*/ .album-list {
    margin-bottom: 20px;
}

.album-toggle {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.25rem;
    color: #333333;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.song-list {
    margin-top: 10px;
    padding-left: 20px;
    overflow: auto;
    transition: max-height 0.3s ease-in-out;
}

.song-list.hidden {
    max-height: 0;
}

.song-list.open {
    max-height: 5000px;
    /* 展開時の最大高さを調整 */
}

.song-list label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.song-list input[type="checkbox"] {
    margin-right: 10px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    /* ブラウザデフォルトのスタイルを無効化 */
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    transition: background-color 0.2s;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: #237bff;
}

/* .custom-checkbox input[type="checkbox"]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 3px;
    top: 2px;
    left: 2px;
    display: none;
} */

.custom-checkbox input[type="checkbox"]:checked:after {
    display: block;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.selection-count {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #464646;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


/* プルダウンのスタイル */
select {
    /* ここにCSSでデザインをカスタマイズ */
    width: 200px;
    padding: 5px;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* --------------Sort部------------- */

#song-container {
    display: table;
    justify-content: space-around;
    margin-top: 2.5rem;
    border-collapse: separate;
    border-spacing: 0.3rem 0;
    /* justify-content: center; */
    /* max-width: 90%;
    margin: 0 auto;
    font-size: 1.6rem; */
}

.song-box {
    display: table-cell;
    vertical-align: middle;
    width: 35%;
    height: 30vh;
    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    border: none;
    /* 枠線を消す */
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    flex-grow: 1;
    align-items: center;
    font-size: 2.0rem;
    color: rgb(39, 39, 39);
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.1s ease;
    text-decoration: none;
    /*数字は「左右、上下」*/
}


.draw-box {
    width: 15%;
    font-size: 1.4rem;
}

.song-box p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.song-box:hover {
    background-color: #e0e0e0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.song-box:active {
    transform: translateY(2px);
}



/* ソート進捗を表示 */

#progress-bar {
    display: block;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

#progress-container {
    width: 60%;
    height: 0.8rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.progress-bar {
    height: 100%;
    width: 0;
    justify-content: left;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}



/* ----------Result----------- */

/* Result */


.title {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}


.ranking-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    /* max-width: 1200px; */
    /* margin: auto; */
}

.ranking-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
    transition: transform 0.3s ease;
}

.ranking-card:hover {
    transform: translateY(-5px);
}

.ranking-card.top-3 {
    background: linear-gradient(to right, #faeca0, #fdd7cd);
    color: #fff;
}

.top-3 .title {
    font-size: 1.6rem;
    font-weight: bold;
}

.rank {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ff6f61;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
}

.album {
    font-size: 0.9rem;
    color: #888;
}

@keyframes highlight {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.ranking-card.top-3:hover {
    animation: highlight 0.3s ease forwards;
}


/* デザイン変更 */


/* table {
    border-collapse: collapse;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.special-rank {
    font-size: 24px;
    font-weight: bold;
    background-color: #ffcc00;
}

.special-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #f7eab9;
}

.special-album {
    background-color: #f7eab9;
} */

/* .Twitter {
    background-color: rgb(6, 164, 255);
    color: #fff;
} */

.Twitter {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.Twitter:hover {
    font-family: 'Roboto', sans-serif;
    background-color: #0d95e8;
}


footer {
    text-align: center;
    padding: 10px;
    /* background-color: #f1f1f1; */
    margin-top: auto;
}