body {
    /* font-family: "Helvetica Neue", Arial, sans-serif; */
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f2f2f2;
    /* background-color: #e6e6e6; */
    color: #333;
}

#warning-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}


header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    display: flex;
    align-items: center;
}

.header h1 {
    /* margin: 0;
    padding: 0; */
    font-size: 32px;
    /* color: white; */
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

#pageDiscription {
    text-align: left;
    margin-top: 40px;
    max-width: 1050px;
    margin-left: 10px;
    margin-right: auto;
}

#pageDescription h2 {
    font-size: 28px;
    font-weight: bold;
    color: #007BFF;
}

#pageDescription p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}


#instruction {
    text-align: left;
}

#instruction_2 {
    text-align: left;
}

#selectTopK {
    text-align: left;
}

#numberOfTop {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

#songList {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

h3 {
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
    /* text-align: center; */
}


label {
    flex-basis: calc(30% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 10px;
    color: #333;
    transition: background-color 0.15s ease;
}

label:last-child {
    margin-right: 0;
}

label:hover {
    background-color: #f0f0f0;
}

label:hover {
    background-color: #f0f0f0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #49567F;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startpage {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6682df;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#selectedSongs {
    margin-top: 40px;
}


/* フローティングボタンのスタイル */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #464646;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


/* 曲選択部分 */

#song-container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    max-width: 800px;
    /* max-width: 400px; */
    margin: 20px auto;
    font-size: 20px;
}

.song-box {
    padding: 20px;
    border: 1px solid #050d13;
    border-radius: 5px;
    margin: 3%;
    text-align: center;
    width: 35%;
    background-color: #ffffff;
}

#choice-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    background-color: #727e94;
    transition: background-color 0.15s;
}

.choice-button:hover {
    background-color: #ddd;
}

.choice-text {
    margin-top: 5px;
    /* 適切な余白サイズに調整してください */
}



/* Result */

.table-container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Rankが1, 2, 3のセルのスタイル */
.special-rank {
    font-size: 24px;
    font-weight: bold;
    background-color: #ffcc00;
}

.special-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #f7eab9;
}

.special-album {
    /* font-size: 20px;
    font-weight: bold; */
    background-color: #f7eab9;
}

/* ソート進捗を表示 */

#progress-bar {
    display: block;
    /* justify-content: center;
    align-items: center; */
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

#progress-container {
    width: 45%;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.progress-bar {
    height: 100%;
    width: 0;
    justify-content: left;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
}


.Twitter {
    background-color: rgb(6, 164, 255);
    color: #fff;
}