<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumpSort-ソート</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/modern_style.css') }}">
    <script src="{{ url_for('static', filename='./js/sort.js')}}"></script>
</head>

<body>
    <div class="container">
        <!--------- ここからソート ----------->

        <h2>④より好きな方を選んでください</h2>
        <p>
            ※はじめの内は同じ曲が連続で表示されますが仕様です<br>
            ※引き分けの曲は同順位になります
        </p>


        <div id="theme_container">
            <!-- 前ページで選択したテーマをJSで表示 -->
        </div>

        <div id="progress">
            <!-- 曲数を表示 -->
        </div>
        <div id="progress-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>

        <div id="song-container">
            <!-- ここに選択楽曲が表示 -->
        </div>

        <br>
        <div id="song-count">
            <!-- 何曲中何曲をソートするか表示 -->
        </div>
        <br>


        <div id="warning-message" class="center">
            <p>注意!: このページを離れるか、再読み込みすると選択結果が失われます</p>
        </div>
    </div>
</body>

</html>