<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BumpSort-選曲</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="static/css/modern_style.css">
</head>

<body>
    <div class="container">
        <h2>①ソートのテーマを選んでください</h2>
        <div id="theme-selection" class="radio-group">
            <!-- ここにテーマ選択リストが挿入されます -->
        </div>

        <h2>②ソート対象とする曲を選んでください</h2>

        <!-- アルバムのリスト -->
        <div class="album-list" id="albumList">
            <!-- JavaScriptがここにアルバムごとの曲リストを生成します -->
        </div>

        <!-- 部分ソートの曲数指定 -->
        <h2>③上位何曲までソートするか選択してください</h2>

        <select id="numberSelect">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
            <option value="60">60</option>
            <option value="65">65</option>
            <option value="70">70</option>
            <option value="75">75</option>
            <option value="80">80</option>
            <option value="85">85</option>
            <option value="90">90</option>
            <option value="95">95</option>
            <option value="100">100</option>
        </select>

        <button class="btn" , id="startSortBtn">選択完了！</button>
        <div class="selection-count">選択曲数: <span id="selectedCount"></span></div>
    </div>


    <script>
        // テーマ選択部
        document.addEventListener("DOMContentLoaded", function () {
            // CSVファイルからテーマを読み込み、ラジオボタンを生成する
            fetch("{{ url_for('static', filename='songdata/sort_themes.csv') }}")
                .then(response => response.text())
                .then(csvText => {
                    const rows = csvText.split('\n').slice(1); // ヘッダーをスキップ
                    const themeContainer = document.getElementById('theme-selection');
                    rows.forEach((row, index) => {
                        const theme = row.split(',')[1];
                        if (theme) {
                            const radioHtml = `
                                <label>
                                    <input type="radio" name="sort-theme" value="${theme}" ${index === 0 ? 'checked' : ''}>
                                    ${theme}
                                </label><br>`;
                            themeContainer.innerHTML += radioHtml;
                        }
                    });
                });

        });



        let totalSongs = 0;
        // CSVファイルをShift-JISで読み込む関数
        async function loadCSV() {
            await fetch('static/songdata/songs.csv')  // 読み込むCSVファイルのパス
                .then(response => response.arrayBuffer())
                .then(buffer => {
                    const decoder = new TextDecoder('shift-jis');
                    const text = decoder.decode(new Uint8Array(buffer));
                    const data = parseCSV(text);
                    renderAlbumList(data);
                });
        }

        // CSVのテキストをパースして二次元配列にする関数
        function parseCSV(text) {
            const lines = text.trim().split('\n');
            const albums = {};
            lines.slice(1).forEach(line => {  // 一行目をスキップ
                const [id, song, album, dummy] = line.split(',');
                if (!albums[album]) {
                    albums[album] = [];
                }
                albums[album].push({ id, song });
            });
            return albums;
        }

        // アルバムリストを表示する関数
        function renderAlbumList(albums) {
            const albumListElement = document.getElementById('albumList');

            for (const [album, songsObj] of Object.entries(albums)) {
                const albumToggle = document.createElement('button');
                albumToggle.className = 'album-toggle';
                albumToggle.textContent = `▶ ${album}`;
                albumToggle.onclick = () => toggleSongs(albumToggle, album);

                const songList = document.createElement('div');
                songList.id = album;
                songList.className = 'song-list hidden';

                songsObj.forEach(songObject => {
                    const { id, song } = songObject;
                    const songItem = document.createElement('label');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.id = id;
                    // checkbox.value = song['song'];

                    // チェックボックスとラベルにクラスを追加
                    checkbox.className = 'custom-checkbox-input';
                    songItem.className = 'custom-checkbox';

                    checkbox.onclick = () => updateSelectionCount();

                    songItem.appendChild(checkbox);
                    songItem.appendChild(document.createTextNode(song));
                    songList.appendChild(songItem);
                });

                albumListElement.appendChild(albumToggle);
                albumListElement.appendChild(songList);
                totalSongs += songsObj.length;
            }
            document.getElementById('selectedCount').textContent = `0/${totalSongs}`;
        }


        // 曲リストの表示/非表示とアイコンを切り替える関数
        function toggleSongs(albumToggle, albumId) {
            // クラスの追加・削除前に、一時的にmax-heightをautoにして初期高さを取得
            const songList = document.getElementById(albumId);
            // songList.style.maxHeight = 'auto';
            // const maxHeight = songList.scrollHeight;
            if (songList.classList.contains('hidden')) {
                songList.classList.remove('hidden');
                songList.classList.add('open');
                albumToggle.textContent = `▼ ${albumToggle.textContent.substring(2)}`;
            } else {
                songList.classList.add('hidden');
                songList.classList.remove('open');
                albumToggle.textContent = `▶ ${albumToggle.textContent.substring(2)}`;
            }
            // max-heightを最終的な値に設定
            // songList.style.maxHeight = maxHeight + 'px';
        }

        // 選択された曲の数を更新する関数
        function updateSelectionCount() {
            const selectedSongs = document.querySelectorAll('.song-list input[type="checkbox"]:checked');
            document.getElementById('selectedCount').textContent = `${selectedSongs.length}/${totalSongs}`;
        }


        // 部分ソートの対象曲数Kを抽出    
        const selectElement = document.getElementById('numberSelect');
        const selectedValue = selectElement.value;
        // 選択された値を取得するイベントリスナー
        selectElement.addEventListener('change', () => {
            console.log('選択された値:', selectedValue);
            // 選択された値を使って何か処理を行う
        });



        const startSortBtn = document.getElementById('startSortBtn');

        startSortBtn.addEventListener('click', () => {
            // 保存したい変数
            const selectedSongs = Array.from(document.querySelectorAll('input[type="checkbox"]:checked'))
                .map(checkbox => checkbox.id);
            const selectedThemes = document.querySelector('input[name="sort-theme"]:checked').value;

            sessionStorage.setItem('selectedTheme', selectedThemes);

            const numberSelect = document.getElementById('numberSelect');
            const selectedValue = numberSelect.value;
            sessionStorage.setItem('K', selectedValue); // 上位何曲をソートするか
            sessionStorage.setItem('selectedIds', JSON.stringify(selectedSongs));

            // sort.htmlに遷移
            window.location.href = "{{ url_for('sort') }}";
        });

        // ページロード時にCSVを読み込む
        window.onload = loadCSV;
    </script>
</body>

</html>